# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Daisy Cossio Garcia")

Daisy Cossio Garcia

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 20)

In [2]:
# Write your answer here:

import pandas as pd
import psycopg2
import sqlalchemy as sa
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server <br>
from Python as in Lecture 20 using <br>
```URL()``` and ```create_engine()```

In [3]:
# Write your own code

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = '12345')

con = sa.create_engine(url_server).connect()

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```

In [4]:
# Write your own code

lap_times  = pd.read_csv("data_raw/lap_times.csv")
drivers    = pd.read_csv("data_raw/drivers.csv")


lap_times.to_sql('lap_times_sql',con = con,if_exists = 'replace')
drivers.to_sql('drivers_sql',con = con,if_exists = 'replace')

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [5]:
# Write your own code

Subset = pd.read_sql(text("SELECT * \
                             FROM drivers_sql \
                             WHERE nationality = 'American' \
                             ORDER BY surname ASC;"),con)

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [6]:
# Write your own code

Countunique = pd.read_sql(text("SELECT \
                 COUNT(DISTINCT \"driverId\") \
                 AS num_uniqe_drivers\
                 FROM drivers_sql;"), con)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [7]:
# Write your own code

Subset2 = pd.read_sql(text("SELECT \"driverId\", \
                 AVG(milliseconds)\
                 AS avg_milliseconds\
                 FROM lap_times_sql\
                 GROUP BY \"driverId\" \
                 ORDER BY avg_milliseconds ASC;"), con)

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [8]:
# Write your own code

pd.read_sql(text("SELECT * \
                 FROM lap_times_sql \
                 LEFT JOIN drivers_sql \
                 ON drivers_sql.\"driverId\" = lap_times_sql.\"driverId\";"), con)

,index,raceId,driverId,lap,position,time,milliseconds,index,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,0,841,20,1,1,1:38.109,98109,19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
1,1,841,20,2,1,1:33.006,93006,19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
2,2,841,20,3,1,1:32.713,92713,19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
3,3,841,20,4,1,1:32.803,92803,19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
4,4,841,20,5,1,1:32.342,92342,19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538116,538116,1096,822,53,16,1:32.998,92998,821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
538117,538117,1096,822,54,16,1:32.995,92995,821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
538118,538118,1096,822,55,16,1:31.236,91236,821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
538119,538119,1096,822,56,15,1:30.566,90566,821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
538120,538120,1096,822,57,15,1:30.743,90743,821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas