# <span style="color:darkblue"> QTM 151 Final Project </span>

## Try to submit as an HTML file

In [74]:
# Write your answer here

print("Daisy Cossio Garcia")

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import date, time, datetime 
import numpy as np

circuits = pd.read_csv("data_raw/circuits.csv") 
races = pd.read_csv("data_raw/races.csv")
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructors = pd.read_csv("data_raw/constructors.csv")

races_circuits = pd.merge(races[["circuitId", "raceId"]],
                          circuits[["circuitId", "name", "alt"]],
                          on='circuitId',
                          how='left')

races_circuits_constructor = pd.merge(races_circuits,
                    constructor_standings[["raceId", "points", "constructorId"]],
                    on="raceId",
                    how='left')

final_df = pd.merge(races_circuits_constructor,
                    constructors[["constructorId", "name"]],
                    on="constructorId",
                    how='left')

final_df

final_df = final_df.rename(columns={'name_x': 'circuit_name', 'name_y':'constructor_name'})
final_df.groupby("constructor_name").agg(avg_points = ("points", "mean")).sort_values(by="avg_points", ascending=True)

Daisy Cossio Garcia

                  avg_points
constructor_name
Life                0.000000
Emeryson            0.000000
MBM                 0.000000
MF1                 0.000000
Maki                0.000000
...                      ...
Ferrari            89.046397
Lotus F1           97.207792
Brawn             103.058824
Red Bull          186.742816
Mercedes          276.186538

[159 rows x 1 columns]

In [69]:
final_df["alt_num"] = pd.to_numeric(final_df["alt"], "coerce")

In [78]:
Brawn_standings = (final_df.query('constructor_name == "Brawn"')
        .groupby("alt")
        .agg(avg_points = ("points","mean"))
        .sort_values(by = "alt", ascending = True))

display(Brawn_standings)

     avg_points
alt
10         18.0
109        68.0
130        96.0
153       105.0
162       146.0
18         89.0
264       114.0
3         172.0
4         126.0
401       128.0
45        156.0
5          36.0
578       112.0
7          68.0
785       161.0